html{
  font-family: 'Roboto', sans-serif;
}

.fruit_section .container .custom_heading{
    color: green;
  } 
  
.fruit_section .container .custom_heading:hover{
    color: #fc5d35;
  }
  
.fruit_section .container .custom_heading-text{
    color: rgb(12, 122, 122);
  }
  
.fruit_section .container .row .col-md-8 .fruit_detail-box{
    color: #000000;
  }
.fruit_section .container .row .col-md-8 .custom_dark-btn{
    background-color: rgb(120, 211, 117);
  }
.fruit_section .container .row .col-md-8 .custom_dark-btn:hover{
    background-color: red;
  }